<div class="container">
    <div class="model-body">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-10">
                    <label for="_id">ID</label>
                    <input [(ngModel)]="registerobj._id" type="id" class="form-control">
                    <label for="name">Name</label>
                    <input [(ngModel)]="registerobj.name" type="text" class="form-control">
                    <label for="email">Email</label>
                    <input [(ngModel)]="registerobj.email" type="email" class="form-control">
                    <label for="password">Password</label>
                    <input [(ngModel)]="registerobj.password" type="password" class="form-control">
                    <label for="phonenumber">PhoneNumber</label>
                    <input [(ngModel)]="registerobj.phonenumber" type="tel" class="form-control">
    
                </div>
            </div>
        </div>
        <div class="model-footer">
            <button type="button"  class="btn btn-danger">Close</button>
            <button type="button"  class="btn btn-primary col-lg-3" (click)="onRegister()">Register</button>
          </div>
          <div class="container signin">
            <p>Already have an account? <a routerLink="/login">Sign in</a>.</p>
          </div>
        </div>
       
</div>
