<form [formGroup]="loginForm" (ngSubmit)="SubmitForm">
  
<div class="container">
  <div class="model-body">
      <div class="container-fluid ">
          <div class="row">
              <div class="col-10">
                  
                  <label for="email">Email</label>
                  <input type="email" name="email" formGroupName="email" class="form-control">
                  <label for="password">Password</label>
                  <input type="password" name="password" formGroupName="password" class="form-control">
                 
  
              </div>
          </div>
      </div>
      <div class="model-footer">
          <button type="button"  class="btn btn-secondary md-3">Reset</button>
          <button type="submit"  class="btn btn-primary col-lg-3" >Login</button>
        </div>
     
     </div>
</div>
</form>
        
       
