
<div class="container">
    <div class="foodHeading text-center">
        <h3 class="mb-3">Exclusive Foods</h3>
        <ul class="list-unstyled d-flex flex-md-row justify-content-center">
            <li *ngFor="let category of categorys" (click)="getFoodCategory(category._id) " >
                <a class="m-4 text-decoration-none text-info fw-semibold" [ngClass]="selectedCategory == category._id?'text-danger':'text-info'">
                   {{category.name}}
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="container text-center ">
    <div class="btn btn-primary" routerLink="/create-food">Add-Food</div>
<div class="p-3">
    <div class="row mt-3">
        <div class="col-lg-3 col-md-0" *ngFor="let food of foodArray">
            <div class="box-shadow">
                <div class="card mt-2">
                    <img class="card-img-top img-fluid" src="{{food.image}}">
                </div>
                <div class="card-body">
                    <h6 class="card-titel">{{food.name}}</h6>
                    <h6 class="card-text">{{food.quantity}}</h6>
                    <p class="text-success ms-0">35% off<span class="p-3">{{food.price | currency:'INR'}}</span> </p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</div>

