.container{
   background-color: aquamarine;
   max-width: 100%;
}

.foodHeading h3{
    color: blue;
}
.img-fluid{
    width: 320px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    
    
}
.card-body{
    text-decoration: none;
    color: blueviolet;
}